# General
*.vagrant
.bundle
build/*
tools/chef/cookbooks/*
tools/chef/tmp/*
tools/assets/*
bin/*
.DS_Store
secret.key

# Composer
vendor
composer.phar

# Frontend
.sass-cache/*
*.css.map
node_modules/*

# SF2
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
