# General
.bundle
.DS_Store
.vagrant
/build/*
/tools/chef/cookbooks/*
/tools/chef/tmp/*
/tools/assets/*
/bin/*
secret.key

# Composer
/vendor
/bin/composer.phar

# Frontend
.sass-cache/*
*.css.map
node_modules/*
