# General
/.bundle
.DS_Store
/build/*
/tools/assets/*
/tools/vagrant/.vagrant
/bin/*

# Chef
/tools/chef/cookbooks/*
/tools/chef/tmp/*
**/.kitchen/
**/cucumber/Gemfile.lock
/tools/chef/site-cookbooks/*/Berksfile.lock
/tools/chef/*encrypted_data_bag_secret
/tools/chef/.chef/*encrypted_data_bag_secret

# Composer
/vendor
/bin/composer.phar

# Continuous Pipe
/cp-remote-logs
/.cp-remote-settings.yml

# Frontend
.sass-cache/*
*.css.map
node_modules/*
